:root {
  --color-black: 0 0% 0%;
  --color-white: 0 0% 100%;

  --color-gray-100: 216 59% 33% / 0.051;
  --color-gray-200: 228 91% 22% / 0.102;
  --color-gray-300: 227 89% 15% / 0.22;
  --color-gray-400: 227 89% 15% / 0.412;
  --color-gray-500: 227 96% 11% / 0.588;
  --color-gray-600: 228 100% 10% / 0.71;
  --color-gray-700: 230 87% 9% / 0.82;
  --color-gray-800: 230 83% 7% / 0.898;
  --color-gray-900: 248 80% 2% / 0.949;

  --color-blue-200: 233 100% 95%;
  --color-blue-300: 234 100% 84%;
  --color-blue-400: 235 100% 74%;
  --color-blue-500: 235 100% 63%;
  --color-blue-600: 235 60% 44%;
  --color-blue-700: 235 65% 24%;
  --color-blue-800: 235 100% 5%;

  --color-pink-200: 351 77% 95%;
  --color-pink-300: 351 79% 85%;
  --color-pink-400: 351 79% 74%;
  --color-pink-500: 351 78% 64%;
  --color-pink-600: 351 46% 44%;
  --color-pink-700: 351 49% 25%;
  --color-pink-800: 351 77% 5%;

  --color-red-500: 0 100% 50%;
  --color-yellow-500: 47 100% 50%;
}

:focus:not(:focus-visible) {
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

main {
  padding-top: 112px; /* header height */
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {
  main {
    padding-top: 157px; /* header height */
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 999px hsl(var(--color-gray-100)) inset !important;
  box-shadow: 0 0 0 999px hsl(var(--color-gray-100)) inset !important;
  background-clip: content-box !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 999px hsl(var(--color-gray-800)) inset !important;
  box-shadow: 0 0 0 999px hsl(var(--color-gray-800)) inset !important;
  background-clip: content-box !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Matter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

select:invalid {
  color: hsl(var(--color-gray-400)) !important;
}

address {
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

::selection {
  color: hsl(var(--color-gray-900));
  background-color: hsl(var(--color-blue-400));
}

[hidden] {
  pointer-events: none;
}

:focus {
  outline-color: hsl(var(--color-blue-500));
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

a {
  letter-spacing: -0.02em;
  line-height: 120%;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: '';
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}

.text-list li {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.text-list li:before {
  content: '';
  display: inline-block;
  height: 0.3em;
  width: 0.3em;
  position: absolute;
  top: 13px;
  left: 0.5rem;
  margin: auto;
  background-color: currentColor;
  border-radius: 50%;
}

.header-light nav a {
  color: hsl(var(--color-white)) !important;
}

.header-light svg path {
  fill: hsl(var(--color-white)) !important;
}
