:root {
  --color-black: 0 0% 0%;
  --color-white: 0 0% 100%;

  --color-gray-50: 248 29% 95%;
  --color-gray-100: 240 11% 88%;
  --color-gray-200: 244 12% 76%;
  --color-gray-300: 243 11% 65%;
  --color-gray-400: 245 11% 54%;
  --color-gray-500: 245 11% 48%;
  --color-gray-600: 248 15% 31%;
  --color-gray-700: 247 17% 20%;
  --color-gray-800: 246 19% 10%;
  --color-gray-900: 240 45% 2%;

  --color-gray-body: 248 57% 97%;

  --color-blue-50: 224 100% 95%;
  --color-blue-100: 225 100% 91%;
  --color-blue-200: 226 100% 83%;
  --color-blue-300: 228 100% 74%;
  --color-blue-400: 231 100% 66%;
  --color-blue-500: 235 100% 63%;
  --color-blue-600: 248 85% 43%;
  --color-blue-700: 250 100% 28%;
  --color-blue-800: 247 100% 15%;
  --color-blue-900: 242 100% 5%;

  --color-purple-50: 263 60% 95%;
  --color-purple-100: 263 70% 90%;
  --color-purple-200: 263 63% 79%;
  --color-purple-300: 253 100% 76%;
  --color-purple-400: 259 100% 66%;
  --color-purple-500: 260 85% 59%;
  --color-purple-600: 268 100% 35%;
  --color-purple-700: 267 100% 24%;
  --color-purple-800: 264 100% 13%;
  --color-purple-900: 252 100% 4%;
}

:focus:not(:focus-visible) {
  outline: none;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  color: hsl(var(--color-gray-600));
}

body {
  overflow-x: hidden;
}

main {
  padding-top: 152px;
  margin-top: -120px; /* header height */
  overflow-x: hidden;
  overflow-y: visible;
}

@media screen and (min-width: 1024px) {
  main {
    padding-top: 117px;
    margin-top: -136px; /* header height */
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 999px hsl(var(--color-gray-100)) inset !important;
  box-shadow: 0 0 0 999px hsl(var(--color-gray-100)) inset !important;
  background-clip: content-box !important;
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 999px hsl(var(--color-gray-800)) inset !important;
  box-shadow: 0 0 0 999px hsl(var(--color-gray-800)) inset !important;
  background-clip: content-box !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.125rem;
  font-weight: 500;
  font-family:
    Matter,
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

select:invalid {
  color: hsl(var(--color-gray-400)) !important;
}

address {
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

::selection {
  color: hsl(var(--color-gray-900));
  background-color: hsl(var(--color-blue-400));
}

[hidden] {
  pointer-events: none;
}

:focus {
  outline-color: hsl(var(--color-blue-500));
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.1s ease;
    outline-offset: 4px;
  }
}

a {
  letter-spacing: -0.02em;
  line-height: 120%;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 3px;
  transform: scaleX(0);
  transition:
    transform,
    background-color 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform-origin: left;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}

.decimal-list,
.text-list {
  margin-bottom: 1.5rem;
}

.decimal-list li,
.text-list li {
  position: relative;
  margin-bottom: 0.25rem;
  padding-left: 2rem;
}

.text-list li:before {
  content: '';
  display: inline-block;
  height: 0.3em;
  width: 0.3em;
  position: absolute;
  top: 9px;
  left: 0.5rem;
  margin: auto;
  background-color: currentColor;
  border-radius: 50%;
}

.decimal-list li {
  counter-increment: count;
}

.decimal-list li:before {
  content: counter(count) '.';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0.5rem;
  margin: auto;
}

.header-light nav a {
  color: hsl(var(--color-white)) !important;
}

.header-light svg path {
  fill: hsl(var(--color-white)) !important;
}

.card-grid {
  position: relative;
}

.card-grid::after {
  content: '';
  pointer-events: none;
  z-index: -1;
  position: absolute;
  inset: 0;
  background: hsl(var(--color-purple-700) / 0.05);
  background: radial-gradient(hsl(var(--color-purple-700) / 0.1), transparent);
  filter: blur(2rem);
  transform: scale(1.125);
}
