/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .focus-ring {
    @apply ring-black ring-offset-4 ring-offset-white transition duration-300 focus-within:outline-none focus-within:ring-2 hover:ring-2 focus:outline-none focus:ring-2 disabled:ring-0 group-hover:ring-2 group-focus:ring-2;
  }

  .bg-primary {
    @apply bg-white;
  }

  .bg-secondary {
    @apply bg-gray-100;
  }

  .bg-alt {
    @apply bg-gray-200;
  }

  .text-primary {
    @apply text-black;
  }

  .text-secondary {
    @apply text-gray-500;
  }

  .text-transparent {
    @apply text-opacity-50;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .border-transparent {
    @apply border-opacity-50;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  }

  .text-list li {
    @apply relative mb-1 pl-8 text-lg text-black;
  }

  .text-list li:before {
    content: '';
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 10px;
    left: 0.5rem;
    margin: auto;
    background-color: var(--color-pink-500);
    border-radius: 50%;
  }
}
