/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('/fonts/Satoshi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('/fonts/Satoshi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  /*TODO: figure out if we can reuse some stuff here*/
  .focus-ring {
    @apply ring-gray-900 ring-offset-4 ring-offset-white transition duration-300 focus-within:outline-none focus-within:ring-2 hover:ring-2 focus:outline-none focus:ring-2 disabled:ring-0 group-hover:ring-2 group-focus:ring-2;
  }

  .focus-ring-primary {
    @apply ring-blue-500 ring-offset-4 ring-offset-white transition duration-300 focus-within:outline-none focus-within:ring-2 hover:ring-2 focus:outline-none focus:ring-2 disabled:ring-0 group-hover:ring-2 group-focus:ring-2;
  }

  .bg-primary {
    @apply bg-white;
  }

  .bg-secondary {
    background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 98.35%),
      rgba(35, 74, 134, 0.05);
  }

  .bg-inverse {
    @apply bg-gray-900;
  }

  .bg-gradient {
    background: linear-gradient(
        360deg,
        #0f0e17 1.67%,
        rgba(15, 14, 23, 0) 140.45%
      ),
      linear-gradient(0deg, rgba(1, 13, 55, 0.49), rgba(1, 13, 55, 0.49)),
      linear-gradient(105.54deg, #4353ff 0%, #eb596e 104.83%);
  }

  .text-primary {
    @apply text-gray-900;
  }

  .text-secondary {
    @apply text-gray-500;
  }

  .text-inverse {
    @apply text-white;
  }

  .text-inverse-secondary {
    @apply text-opacity-60;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }

  .border-light {
    @apply border-opacity-20;
    border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  }

  .border-avatar-light {
    border: 8px solid rgba(35, 74, 134, 0.05);
  }

  .border-avatar-dark {
    border: 8px solid rgba(255, 255, 255, 0.05);
  }

  .text-list li {
    @apply text-primary relative mb-1 pl-8 text-xl;
  }

  .text-list li:before {
    content: '';
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    position: absolute;
    top: 10px;
    left: 0.5rem;
    margin: auto;
    background-color: var(--color-pink-500);
    border-radius: 50%;
  }
}
